<app-header />
<main>
  <div id="dashboard">
    <!-- in this case we arent using property binding because if we did, we would be telling angular that the values
    within the double quotes would be evaluated as typescript code -->
    <app-dashboard-item [image]="{src: 'status.png', alt: 'A signal symbol'}" title="Server Status">
      <app-server-status />
    </app-dashboard-item>
    <app-dashboard-item [image]="{src: 'globe.png', alt: 'Traffic symbol'}" title="Traffic">
      <app-traffic />
    </app-dashboard-item>
    <app-dashboard-item [image]="{src: 'list.png', alt: 'Support symbol'}" title="Support Tickets">
      <app-support-tickets />
    </app-dashboard-item>
  </div>
</main>